.heading {
    display: flex;
    padding: 40px;
    font-size: 60px;
    justify-content: center;
    background-color: #121212;
}

.heading span {
    font-size: 55px;
}



.logo-container {
    display: flex;
    justify-content: center;
    padding: 70px;
    background-color: #121212;
    gap: 80px;
}