.main-container {
    background-color: black;
}

.heading {
    display: flex;
    font-size: 60px;
    justify-content: center;
    background-color: black;
    gap: 20px;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    padding: 70px;
    margin-top: 40px;
    background-color: black;
}